html {
  scroll-behavior: smooth;
  overflow-x:hidden;
}
.carousel-control-next {
  margin-right: -70px;
}
.carousel-control-prev {
  margin-left: -140px;
}
#nav {
  display: none;

}
.nav-custom {
    background-color: #e9ecef;
}
.jumbotron {
  height: 420px;
  background-color: #fff; 
  padding: 5%;
}
.jumbotron h1 {
  font-size: 60px; 
  font-weight: 300;
}
.jumbotron h1:hover {
  cursor: pointer;
}
.clear {
    width: 100%;
    float: left;
    clear: both;
}
.wrap {
  padding: 0%;
    margin-right: auto;
    margin-left: auto;
    font-weight: 100;
    cursor: pointer;
}
.wrap:hover {
  color: #f00658;
  transition: 0.3s;
}
body {
  color: #525252;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}
a {
  color: #525252;
}
.container {
  padding: 5% 5%;
  }

#content-background {
  background-color: #f5f5f5;

  max-width: 100%;

  margin: auto;
}
#content {
  padding: 10% 20%;
}
.nav-link:hover {
  color: #f00658;
  transition: 0.3s;
}
#footer {
    padding: 10% 10%;
    
}
.footer-style {
    font-size: 2em; 
    line-height: 1.5;
    font-weight: 100;
}
.footer-style a {
    color: #f00658;
}
.fa {
    text-align: center;
    text-decoration: none;

  }
  .fa:hover {
      color: #f00658;
  }
  .fa-linkedin {
    background: white;
    color: #525252;
  }

.image {
    display: block;
    width: 100%;
    height: auto;
    transform: translate(0%, 100%);
}
.image-two {
  display: block;
  width: 50%;
  height: auto;
  transform: translate(50%, 90%);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
  }
  .text {
    color: white;
    font-size: 14px;
    text-align: left;
    font-weight: 100; 
    padding: 5%;
  }
  .text h2 {
    font-weight: 100;
  }
  .text small {
    color: #ff0000;
  }
  .text a {
    color: #ff0000;
  }
 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: 18rem; 
  height: 25rem;
  }
  .card:hover .overlay {
    opacity: 1;
  }

@keyframes float {
	0% {
    transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake:hover {
  animation: shake 5s;
  animation-iteration-count: infinite;
}
.shaking {
  animation: shake 6s;
  animation-iteration-count: infinite;
}

hr {

  border-top: 1px solid #e9ecef;
  max-width: 1380px; 
  position: fixed;
  width: 1380px;
  margin-left: 2%;
  height: 30px;
}
hr:after { 
  content: "\2702";
  display: inline-block; 
  position: relative; 
  top: -15px; 
  left: 70px; 
  padding: 0 3px; 
  background: transparent;
  font-size: 20px; 
  transform: rotateZ(275deg); /* Standard syntax */
}

#rotating-section{ 
        height: 200px;
        overflow-x:hidden;
				}
.rect1,.rect2,.rect3,.rect4{
		position:absolute;
		width:50px;
		height:50px;
		bottom: 0px;
		background: yellow;
		-webkit-animation: mymove2 4s linear infinite;
}

.rect1{left:50%;}
.rect2{left:10%;-webkit-animation-delay:0.3s;}
.rect3{left:25%;-webkit-animation-delay:2s;}
.rect4{left:85%;-webkit-animation-delay:1s;}


@-webkit-keyframes mymove2{
	
	0%{	transform:rotate(0deg);opacity:1;}
	100%{transform:rotate(540deg);opacity:0;bottom:650px;}
	}


  .text-block {
    height: 100%;
    width: 100%;
    background-color: #525252;
  }

.footer-block {
  width: 100%;
  background-color:white;
  position: absolute;
}

@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%;
  }
  .carousel-control-next {
    margin-right: -70px;
  }
  .carousel-control-prev {
    margin-left: -70px;
  }
}


@media only screen and (min-width: 768px) {
  #nav {
    display: block;
  }
  .nav-custom {
      background-color: #fff; 
      padding: 2% 6%;
      margin: auto; 
  
  }
  hr {
    display: none;
    border-top: 1px solid #e9ecef;
    max-width: 1380px; 
    position: fixed;
    width: 1380px;
    margin-left: 2%;
    height: 30px;
  }
  hr:after { 
    content: "\2702";
    display: none; 
    position: relative; 
    top: -15px; 
    left: 70px; 
    padding: 0 3px; 
    background: transparent;
    font-size: 20px; 
    transform: rotateZ(275deg); /* Standard syntax */
  }
  #content {
    padding: 10% 30%;
  }
  .jumbotron {
    height: 500px;
    background-color: #fff; 
    padding: 14% 8% 10%;
  }
  #rotating-section{ 
    height: 200px;
    overflow-x:hidden;
    }
.rect1,.rect2,.rect3,.rect4{
position:absolute;
width:75px;
height:75px;
bottom: 0px;
background: yellow;
-webkit-animation: mymove2 5s linear infinite;
}

.rect1{left:50%;}
.rect2{left:10%;-webkit-animation-delay:0.3s;}
.rect3{left:25%;-webkit-animation-delay:2s;}
.rect4{left:85%;-webkit-animation-delay:1s;}


@-webkit-keyframes mymove2{

0%{	transform:rotate(0deg);opacity:1;}
100%{transform:rotate(540deg);opacity:0;bottom:700px;}
}
}

@media only screen and (min-width: 1024px) {
  .carousel-control-next {
    margin-right: -90px;
  }
  .carousel-control-prev {
    margin-left: -90px;
  }
  .jumbotron {
    height: 500px;
    background-color: #fff; 
    padding: 14% 10% 10%;
  }
  #rotating-section{ 
    height: 200px;
    overflow-x:hidden;
    }
.rect1,.rect2,.rect3,.rect4{
position:absolute;
width:100px;
height:100px;
bottom: 0px;
background: yellow;
-webkit-animation: mymove2 5s linear infinite;
}

.rect1{left:50%;}
.rect2{left:10%;-webkit-animation-delay:0.3s;}
.rect3{left:25%;-webkit-animation-delay:2s;}
.rect4{left:85%;-webkit-animation-delay:1s;}

@-webkit-keyframes mymove2{

0%{	transform:rotate(0deg);opacity:1;}
100%{transform:rotate(540deg);opacity:0;bottom:600px;}
}
#content {
  padding: 10% 4%;
}
.container {
  padding: 5% 4%;
  }
  .wrap {
    padding: 0% 4%;
      margin-right: auto;
      margin-left: auto;
      font-weight: 100;
      cursor: pointer;
  }
  #footer {
    padding: 10% 8%;
    line-height: 1.5;
}
.card {
  margin-left: 1%;
  }
}
@media only screen and (min-width: 1280px) {
  .carousel-control-next {
    margin-right: -120px;
  }
  .carousel-control-prev {
    margin-left: -120px;
  }
  #rotating-section{ 
    height: 200px;
    overflow-x:hidden;
    }
.rect1,.rect2,.rect3,.rect4{
position:absolute;
width:100px;
height:100px;
bottom: -100px;
background: yellow;
-webkit-animation: mymove2 5s linear infinite;
}

.rect1{left:50%;}
.rect2{left:10%;-webkit-animation-delay:0.3s;}
.rect3{left:25%;-webkit-animation-delay:2s;}
.rect4{left:85%;-webkit-animation-delay:1s;}


@-webkit-keyframes mymove2{

0%{	transform:rotate(0deg);opacity:1;}
100%{transform:rotate(540deg);opacity:0;bottom:600px;}
}
#content-background {
  background-color: #f5f5f5;
  max-width: 95%;
  margin: auto;
}
.jumbotron {
  height: 550px;
  background-color: #fff; 
  padding: 14% 15% 10%;
}
.container {
  padding: 5% 10%;
  }
  .wrap {
    padding: 0% 10%;
      margin-right: auto;
      margin-left: auto;
      font-weight: 100;
      cursor: pointer;
  }
  .card {
    margin-left: 2%;
    }
    .nav-custom {
      background-color: #fff; 
      padding: 2% 13.5%;
      margin: auto; 
  }
  #footer {
    padding: 8% 15%;
    line-height: 1.5;
}
  }
  @media only screen and (min-width: 1360px) {
    .carousel-control-next {
      margin-right: -140px;
    }
    .carousel-control-prev {
      margin-left: -140px;
    }
    .nav-custom {
      padding: 2% 16%;
  }
    .wrap {
      padding: 0% 12.5%;
    }
    .jumbotron {
      padding: 14% 17% 10%;
    }
    #footer {
      padding: 5% 17%;
  }
  }
  @media only screen and (min-width: 1400px) {
      .carousel-control-next {
      margin-right: -140px;
    }
    .carousel-control-prev {
      margin-left: -140px;
    }
    .container {
      padding: 5% 7%;
      }
      #content-background {
        max-width: 95%;
      }
  }
  @media only screen and (min-width: 1440px) {
    .carousel-control-next {
      margin-right: -85px;
    }
    .carousel-control-prev {
      margin-left: -130px;
    }
    body {
      background-color: white;
    }
    .nav-custom {
      padding: 2% 16%;
  }
    .jumbotron {
      background-color: white;
    }
    #footer{
      width: 2000px;
    }
    #content-background {
      background-color: #f5f5f5;
    }
   .text-block{
     background-color: #525252;
   }
   .jumbotron {
    padding: 14% 0% 10% 17%;
  }

  }


  @media only screen and (min-width: 1600px) {
    .container {
      padding: 5% 1%;
      }
    .jumbotron {
      padding: 10% 17% 10%;
    }
    .card {
      margin-left: 4%;
          }
  }
  @media only screen and (min-width: 1900px) {
    .carousel-control-next {
      margin-right: -220px;
    }
    .carousel-control-prev {
      margin-left: -220px;
    }
    .nav-custom {
      padding: 2% 25%;
  }
    .container {
      padding: 5% 5%;
      }
      .wrap {
        padding: 0% 22%;
      }
    .jumbotron {
      padding: 10% 26% 10%;
    }
    #footer {
      padding: 5% 0% 5% 26%;
  }
  }
