html {
  scroll-behavior: smooth;
}

.nav-custom {
    background-color: #e9ecef;
}
.jumbotron {
  min-height: 600px;
}
.jumbotron h1 {
  font-size: 72px; 
}
.jumbotron h1:hover {
  cursor: pointer;
}
.clear {
    width: 100%;
    float: left;
    clear: both;
}
.wrap {
  padding: 0 13.5%;
    margin-right: auto;
    margin-left: auto;
    font-weight: 100;
}
.wrap:hover {
  color: #f00658;
  transition: 0.3s;
}
body {
  color: #525252;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
a {
  color: #525252;
}
#internships .container {
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 13.5%;
  
  }
  #hackathons .container {
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 13.5%;
  
  }
  #education .container {   
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 13.5%;
  
  }
#content-background {
  background-color: #f5f5f5;
  max-width: 1380px;
  margin: auto;
  border-top: 1px solid #e9ecef; 
  border-bottom: 1px solid #e9ecef; 
}
#content-background:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -1860px;
  right: -1270px; 
  background: transparent;
  font-size: 20px; 
  transform: rotateZ(90deg); /* Standard syntax */
} 
#content {
  padding: 100px 60px;
}
.nav-link:hover {
  color: #f00658;
  transition: 0.3s;
}
#footer {
    padding: 50px 0;
    margin-right: 20%;
    margin-left: 17%;
    
}
.footer-style {
    padding: 20px;
    font-size: 2em; 
    line-height: 46px;
    font-weight: 100;
}
.footer-style a {
    color: #f00658;
}
.fa {
    text-align: center;
    text-decoration: none;

  }
  .fa:hover {
      color: #f00658;
  }
  .fa-linkedin {
    background: white;
    color: #525252;
  }

.image {
    display: block;
    width: 100%;
    height: auto;
    transform: translate(0%, 100%);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
  }
  .text {
    color: white;
    font-size: 16px;
    text-align: left;
    font-weight: 100; 
    padding: 40px 20px;
  }
  .text h2 {
    font-weight: 100;
  }
  .text small {
    color: #ff0000;
  }
  .text a {
    color: #ff0000;
  }
 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card:hover .overlay {
    opacity: 1;
  }

@keyframes float {
	0% {
    transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake:hover {
  animation: shake 5s;
  animation-iteration-count: infinite;
}
.shaking {
  animation: shake 6s;
  animation-iteration-count: infinite;
}

hr {
  border-top: 1px solid #e9ecef;
  max-width: 1380px; 
  position: fixed;
  width: 1380px;
  margin-left: 2%;
  height: 30px;
}
hr:after { 
  content: "\2702";
  display: inline-block; 
  position: relative; 
  top: -15px; 
  left: 70px; 
  padding: 0 3px; 
  background: transparent;
  font-size: 20px; 
  transform: rotateZ(275deg); /* Standard syntax */
}

body{margin:0;}
#rotating-section{ 
        height: 200px;
        overflow:hidden;
				}
.rect1,.rect2,.rect3,.rect4{
		position:absolute;
		width:100px;
		height:100px;
		bottom: 0px;
		background:#e9ecef;
		-webkit-animation: mymove2 4s linear infinite;
}

.rect1{left:50%;}
.rect2{left:10%;-webkit-animation-delay:0.3s;}
.rect3{left:25%;-webkit-animation-delay:2s;}
.rect4{left:85%;-webkit-animation-delay:1s;}


@-webkit-keyframes mymove2{
	
	0%{	transform:rotate(0deg);opacity:1;}
	100%{transform:rotate(540deg);opacity:0;bottom:340px;}
	}


  .text-block {
    height: 100%;
    width: 100%;
    background-color: #525252;
  }