     
      <!-- education -->
      <section id="education">
        <br><br><br>
        <h1 class="wrap shake" id="demo4" onclick="myFunction4()">Education</h1>
        <script>
          function myFunction4() {
            document.getElementById("demo4").innerHTML = document.getElementById("demo4").innerHTML + "!";
          }
        </script>
        <br>
        <div class="container">
          <div class="row">
            <div class="card">
              <img src="images/Lassonde.png" alt="Lassonde School of Engineering: Software Engineering" class="image">
              <div class="overlay">
                <div class="text-block">
                  <div class="text">
                    <h2>Software Engineering</h2>
                    <small>September 2016 - April 2021</small>
                    <p>I am a third year Software Engineer at the Lassonde School of Engineering.
                      I am a member of
                      Women in Sciences and Engineering (WISE) and volunteered for Ellehacks 2018.
                      <p style="color: red;">Scholarship: Society of Professional Engineers
                        2016-2017</p>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <img src="images/YorkuLogo.png" alt="York University: Economics" class="image" style="margin-top: -10px;">
              <div class="overlay">
                <div class="text-block">
                  <div class="text">
                    <h2>Economics</h2>
                    <small>September 2015 - August 2016</small>
                    <p>I completed my Economics degree at York University with a BA Cum Laude.</p>
                    <p style="color: red;">Golden Key recognition: top 15% GPA in the program</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <img src="images/kings.png" alt="Kings College: Foundation Year Program" class="image"
                style="margin-top: -10px;">
              <div class="overlay">
                <div class="text-block">
                  <div class="text">
                    <h2>Foundation Year Program & Economics</h2>
                    <small>September 2013 - April 2015</small>
                    <p style="font-size: 15px;">I studied Economics and completed the Foundation
                      Year Program, which
                      covered fundamental texts in Western civilization from the Ancient era until
                      the present day.</p>
                    <a href="https://ukings.ca/area-of-study/foundation-year-program/">FYP
                      Website</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>