      <!-- internships -->
      <section id="internships">
        <h1 class="wrap shake" id="demo2" onclick="myFunction2();">Internships</h1>
        <script>
          function myFunction2() {
            document.getElementById("demo2").innerHTML = document.getElementById("demo2").innerHTML + "!";
          }
        </script>
        <br>
        <div class="container">
          <div class="row">
            <div class="card">
              <img src="images/IBM.png" alt="IBM" class="image" style="width: 90%; margin-left: 15px;">
              <div class="overlay">
                <div class="text-block">
                  <div class="text">
                    <h2>Software Support Engineer </h2>
                    <small>May 2018 - August 2019</small>
                    <p>Support WebSphere Commerce deployment
                      and
                      integration with Docker, SOLR, DB2, OMS, IHS and WAS. Identify
                      defects through log analysis and debugging code.</p>
                    <p>Publication: <a
                        href="https://www.ibm.com/developerworks/community/blogs/wcs/entry/index_health_check_v9?lang=en">Setting
                        Up Index Health Check for Commerce v9</a></p>
                    <p>Certification: <a
                        href="https://www.youracclaim.com/badges/5be0076b-eeb8-4bb4-8ca4-b075e49ab1ee/linked_in_profile"
                        style="color: red;">IBM Blockchain Essentials, </a>
                      <a href="https://www.youracclaim.com/badges/c4143150-0cad-430d-baab-47f2e1f0fad7">IBM Watson
                        Machine Learning Essentials</a></p>

                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <img src="images/dishon.png" alt="DISHON" class="image" style="margin-top: -10px;">
              <div class="overlay">
                <div class="text-block">
                  <div class="text">
                    <h2>Project Manager Intern</h2>
                    <small>May 2017 - August 2017</small>
                    <p>Lead initiative to restructure
                      company’s organizational breakdown by hosting meetings and engaging
                      department heads.</p>
                  </div>
                </div>
              </div>
            </div>


            <div class="card">
              <img src="images/rbc.png" alt="RBC" class="image" style="width: 90%; margin-left: 15px;">
              <div class="overlay">
                <div class="text-block">
                  <div class="text">
                    <h2>Private Banking Associate Trainee</h2>
                    <small>May - August (2014/2015)</small>
                    <p>Significant client-facing experience and utilized RBC cash management system
                      to facilitate client
                      financial requests in person, via
                      email as well as telephone.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>